.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

.starter-template {
    padding: 80px 15px;
}
.header {
  margin-bottom: 20px;
}
.listings-container {
  display: flex;
  flex-wrap: wrap;
}

.listing {
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid black;
  margin: 2em;
  max-height: 350px;
  overflow: auto;
}

.listing > img {
  height: 60%;
  object-fit: contain;
}

.listing > h2 {
  text-decoration: underline;
}

.listing > h2:hover {
  color: red;
  cursor: pointer;
}
.list-item-container {
  display: flex;
  flex-direction: column;
}

.form {
  width: 30%;
  margin-bottom: 20px;
}

.form-button {
  width: 150px;
  height: 30px;
  border-radius: 0;
  background: tomato;
}

.form-header {
  font-size: 40px;
}
img {
  border:10px solid #000000;
}
img.width {
  max-width:500px;
}



/*.listing {
  display: flex;
  width: 30%;
  flex-direction: column;
  border: 1px solid black;
  margin: 2em;
  max-height: 350px;
  overflow: auto;
}

.listing > img {
  height: 60%;
  object-fit: contain;
}

.listing > h2 {
  text-decoration: underline;
}

.listing > h2:hover {
  color: red;
  cursor: pointer;
}*/
