.dot {
  width: 2rem;
  height: 2rem;
  border: 1px #ccc solid;
  border-radius: 50%;
}

.starter-template {
    padding: 80px 15px;
}
.header {
  margin-bottom: 20px;
}
img {
  border:10px solid #000000;
}
img .width {
  max-width:300px;
}
